<h2>Hero Entry</h2>

<div id="entryForm">
    <form id="heroForm" ng-submit="hec.addHero()">
      <label for="persona">Persona: </label>
      <input type="text" id="heroPersona" name="persona" ng-model="hec.newHero.persona"/>

      <label for="alias">Alias: </label>
      <input type="text" id="heroAlias" name="alias" ng-model="hec.newHero.alias"/>

      <label for="power_id">Power ID: </label>
      <select id="heroPower_id" name="power_id" ng-model="hec.newHero.power_id">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <!-- <input type="text" id="heroPower_id" name="power_id" ng-model="hec.newHero.power_id"/> -->

      <input type="submit" value="Submit Hero" />
    </form>
  </div>
